/* brands cards*/
.block-list{
    display: flex;
    justify-content: space-around;
}
.block-list-item{
    position: relative;
    border:1px solid transparent;
    border-radius: 6px;
    transition: border-color 1s;
}
.block-list-item>.card-icon{
    position: absolute;
    z-index: 1;
    display: none;
    /*transition: background 1s linear;*/
}
.block-list-item .item-name{
    transition: background-color 1s;
}

/* BRANDS */
.block-list-item.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.block-list-item.brands>img{
    height: 160px;
    margin: 20px 0;
}
.block-list-item.brands>.item-name{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary);
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
@media (min-width: 1025px) {
    .block-list-item:hover {
        border-color: var(--primary);
    }
    .block-list-item:hover .card-icon {
        display: block;
        margin: 20px;
        left: 0;
        fill: var(--primary);
        stroke: var(--primary);
    }
    .block-list-item:hover img{
        margin: 0;
        height: 200px;
        width: 198px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .block-list-item:hover .item-name {
        background-color: var(--primary);
        color: white;
    }
}
@media only screen and
(max-width: 1024px){
    .block-container{
        max-width: 540px;
    }
    .block-title--container{
        margin-bottom: 27px;
    }
    .block-title--container *{
        margin: 0 12px;
    }
    .block-title{
        font-size: 30px;
    }
    .block-list.brands{
        flex-direction: column;
    }
    .block-list-item.brands{
        flex-direction: row;
        width: auto;
    }
    .block-list-item.brands>.item-name{
        width: auto;
        margin-left: 16px;
    }
    .block-list-item.brands>img{
        height: 80px;
        margin-bottom: 0;
    }
}

/* FOOTERS */

/* main footer */

.footer-container{
    background-blend-mode: multiply;
    background: var(--big-ellipse) no-repeat center top, var(--small-ellipse) no-repeat top right 37%, var(--secondary);
}
footer{
    max-width: 1268px;
    margin: 0 auto;
}
.main-footer--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 124px 0 40px;
}
.logo>a{
    font-family: 'Baloo 2', sans-serif;
    font-size: 30px;
    color: var(--primary);
    text-decoration: none;
}
.main-footer--link{
    margin-left: 42px;
}
.main-footer--link>svg>path{
    fill: var(--primary);
}

/* mobile-nav */

.mobile-nav--container{
    display: none;
}

@media only screen and (max-width: 1024px){
    main{
        margin-bottom: 30px;
    }
    .footer-container{
        background: var(--secondary);
    }
    footer{
        background: linear-gradient(rgba(255, 245, 245, 0) 0%,var(--secondary) 100%);
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1;
    }
    .main-footer--container{
        display: none;
    }
    .mobile-nav--container{
        display: block;
        max-width: 540px;
        margin: auto;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        padding: 70px 0 45px;
    }
   .svg-f{
        display: block;
        fill: var(--primary);
        stroke: var(--primary);
     }
   .svg-blue-f{
        display: block;
        fill: var(--bg);
        stroke: var(--bg);
     }
}
