
.header {
    background: var(--gradient); /*linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);*/
    font-size: var(--standart-text);
    line-height: 140%;
}

.header_contentWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}

.header_leftPart {
    margin-right: 5vw;
}

.header_leftPart .logo {
    display: none;
}

.header_rightPart .theme_switcher {
    display: none;
}

.header_leftPart, .header_rightPart {
    padding-top: 120px;
}

.header_stickyMenu {
    background: var(--gradient);
    position: fixed;
    z-index: 99;
    height: 120px;
    width: 100%;
}

.header_photoWrapper {
    background: url("../imgs/bubbles.svg") no-repeat 0 0;
    width: 37vw;
    height: 43vw;
    max-width: 580px;
    max-height: 620px;
    background-size: contain;
    position: relative;
}

.dark-theme .header_photoWrapper {
    background-image: url("../imgs/bubbles_dark.svg");
}

.header_photo {
    width: 31vw;
    height: 31vw;
    max-width: var(--photo-size);
    max-height: var(--photo-size);
    border-radius: 50%;
    overflow: hidden;
    border-color: var(--photo-borderColor);
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.header_photo img {
    width: 100%;
}


.header a {
    white-space: nowrap;
}

.logo {
    font-size: var(--big-text);
    line-height: 48px;
}

.header_icons {
    position: relative;
    top: -55px;
}

.icon {
    display: inline-block;
    background-color: var(--secondary-bg);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 58px;
    text-align: center;
}


#icon_instagram, #icon_facebook {
    fill: var(--primary);
}


.header_rightPart {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_nav {
    margin-bottom: 10vw;
}

.header_nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-wrap: wrap;
}

.header_navItem {
    font-size: var(--standart-text);
    line-height: 22px;
    padding: 9px 20px;
    border-radius: 20px;
    margin: 0 5px;
}

.header_navItem:hover,
.header_navItem:active {
    background-color: var(--primary);
    color: var(--contrast-text);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.theme_switcher {
    position: absolute;
    right: 20px;
    top: 47px;
    width: 38px;
    height: 20px;
    background-color: var(--primary);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transform: scale(1.5);
    font-size: 10px;
}

.dark-theme .theme_switcher {
    background-color: var(--secondary-bg);
}

.ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the element after the label*/
.checkbox:checked + .theme_switcher .ball {
    transform: translateX(18px);
}

.header .heading {
    font-size: var(--headings-1);
    line-height: 128px;
}

.timer_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-self: flex-end;
}

.header_timer {
    height: var(--timer-size);
    width: var(--timer-size);
    background-color: var(--timer);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(65px);
}

.timer_decor {
    height: var(--timerDecor-size);
    width: var(--timerDecor-size);
    background-color: var(--timer);
    border-radius: 50%;
    line-height: 130px;
    text-align: center;
    align-self: flex-end;
}

.timer {
    line-height: 48px;
    font-weight: 800;
    font-size: var(--big-text);
}

.timer_hours, .timer_minutes, .timer_seconds {
    display: inline-block;
    width: 35px;
}


@media (max-width: 1330px) {
    .header_nav {
        margin-bottom: 20px;
    }
}

@media (max-width: 991.98px) {
    .header_stickyMenu {
        display: none;
    }

    .header_contentWrapper {
        flex-direction: column;
        padding: 10px 20px;
    }

    .header_leftPart, .header_rightPart {
        padding-top: 0;
    }

    .header_leftPart {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        width: 100%;
    }

    .header_leftPart .logo {
        display: block;
        order: 2;
        line-height: 38px;
        margin-left: 10px;
        margin-right: 17px;
    }

    .header_rightPart .theme_switcher {
        display: flex;
    }

    .header_photoWrapper {
        width: var(--photo-size);
        height: var(--photo-size);
        background: none;
        order: 1;
    }

    .header_icons {
        order: 3;
        top: 0;
        margin-left: auto
    }

    .heading {
        /*font-size: 50px;*/
        line-height: 80px;
    }

    .timer_wrapper {
        align-self: center;
    }

    .header_timer {
        margin-top: 40px;
    }

    .theme_switcher {
        right: 125px;
        top: -100px;
        transform: scale(2);
    }
}
