
.header{
    background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
    color: #FC6A57;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 140%;
}
.dark-theme .header{
    background: linear-gradient(180deg, #787C85 0%, #4B5056 120px);
    color: #01ACB4;
}
.header_contentWrapper{
    max-width: 1268px;
    margin: 0 auto;
    display: flex;
    padding: 40px 80px 158px;
}
.header_leftPart{
    margin-right: 80px;
}

.header_photo{
    width: 460px;
    height: 460px;
    border-radius: 50%;
    overflow: hidden;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
.header_photo img{
    width: 100%;
}

.dark-theme .header_photo{
    border-color: #01ACB4;
}

.header a{
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.logo, .heading{
    font-family: 'Baloo 2', cursive;
}

.logo{
    font-size: 30px;
    line-height: 48px;
}

.header_icons{
    position: relative;
    top:-55px;
}
.icon{
    display: inline-block;
    background-color: #FFF5F5;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 58px;
    text-align: center;
}

.dark-theme .icon {
    background-color: #787C85;
}

#icon_instagram, #icon_facebook{
    fill: #FC6A57;
}
.dark-theme #icon_instagram, .dark-theme #icon_facebook{
    fill: #01ACB4;
}

.header_rightPart{
    display: flex;
    flex-direction: column;
}
.header_nav{
    margin-bottom: 140px;
}
.header_nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.header_navItem{
    font-size: 16px;
    line-height: 22px;
    padding: 9px 20px;
    border-radius: 20px;
    margin: 0 5px;
}

.theme_switcher{
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.theme_switcher {
    width: 38px;
    height: 20px;
    background-color:#FC6A57;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 48px;
    transform: scale(1.5);
    font-size: 10px;
    right: 40px;

}
.dark-theme .theme_switcher{
    background-color: #4B5056;
}
.ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .theme_switcher .ball{
    transform: translateX(18px);
}

.header_navItem:hover,
.header_navItem:active {
    background-color: #FC6A57;
    color: #fff;
}
.dark-theme .header_navItem:hover,
.dark-theme .header_navItem:active {
    background-color: #01ACB4;
}
.header .heading{
    font-size: 80px;
    line-height: 128px;
}

.header_photoWrapper{
    background-image: url("../imgs/bubbles.svg");
    width: 540px;
    height: 623px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.dark-theme .header_photoWrapper {
    background-image: url("../imgs/bubbles_dark.svg");
}
.header_timer{
    height: 318px;
    width: 318px;
    background-color: RGBA(252,106,87,0.1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    align-self: flex-end;
}
.header_timer::after{
    content: 'away';
    height: 130px;
    width: 130px;
    background-color: RGBA(252,106,87,0.1);
    border-radius: 50%;
    position: absolute;
    bottom:0;
    right: -65px;
    line-height: 130px;
    text-align: center;
}
.timer{
    font-family: 'Baloo 2', cursive;
    line-height: 48px;
    font-weight: 800;
    font-size: 30px;
}

.dark-theme .header_timer{
    background-color: RGBA(0,0,0,0.5);
}

.dark-theme .header_timer::after{
    background-color: RGBA(0,0,0,0.5);
}


@media screen and (max-width:1048px)  {

    .header{
        font-size: 16px;
        line-height: 140%;
    }
    .header_contentWrapper{
        flex-direction: column;
        padding: 10px 20px;
    }
    .header_leftPart{
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-bottom: 76px;
        width: 100%;
    }
    .header_photoWrapper{
        width: 60px;
        height: 60px;
        background: none;
        order: 1;
    }
    .logo{
        order:2;
        font-size: 24px;
        line-height: 38px;
        margin-left: 10px;
        margin-right: 17px ;
    }
    .header_photo{
        width: 60px;
        height: 60px;
    }

    .header_icons{
        order: 3;
        top: 0;
margin-left: auto
    }

    .header_nav{
        display: none;
    }

    .heading{
        font-size: 50px;
        line-height: 80px;
    }

    .header_timer {
        width: 278px;
        height: 278px;
        margin-top: 40px;
        align-self: center;
    }

    .header_timer::after{
        width: 113px;
        height: 113px;
    }
    .theme_switcher{
        right: 140px;
        top: 30px;
    }

}
