.block-container {
    color: var(--primary);
    text-align: center;
}

.block-title--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 58px;
}

.block-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 40px;
    line-height: 64px;
}

.block-title--container:before,
.block-title--container:after {
    content: '';
    background-color: var(--secondary-bg);
    mix-blend-mode: multiply;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.block-title:before,
.block-title:after {
    content: '';
    background-color: var(--secondary-bg);
    mix-blend-mode: multiply;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
.block-title:before,
.block-title--container:before{
    margin-right: 30px;
}
.block-title--container:after,
.block-title:after{
    margin-left: 30px;
}
/*.block-title--container * {
    margin: 0 30px;
}*/

.block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 38px 0 100px;
}

.block.wishlist{
    padding: 38px 0 22px;
}
.block.wishlist:last-child{ /* for footer*/
    padding-bottom: 40px;
}

.block-img {
    width: 326px;
    height: 200px;
    margin: 30px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.img-container{
    position: relative;
    width: 384px;
    height: 260px;
}
.block-picture {
    width: 386px;
    height: 330px;
    background: var(--secondary-bg);
    border-radius: 6px;
}

.block-picture-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.container-bg {
    background: var(--secondary-bg);
    /*padding: 50px 0;*/
}

.blue {
    color: var(--bad-ideaText);
}
.dark-theme .blue  .block-title{
    color: var(--contrast-text);
}

.svg, .svg-blue {
    display: none;
}

@media (min-width: 1024px) {

    .block-picture.blue:hover .svg-blue {
        display: flex;
        position: absolute;
        margin: 30px;
        fill: var(--bad-idea);
        stroke: var(--bad-idea);
        z-index: 2;
    }

    .block-picture.blue:hover {
        background: var(--bad-idea);
        color: var(--contrast-text);
        box-shadow: var(--bad-idea);
        border-radius: 6px;
        border: 1px solid var(--bad-idea);
    }

    /*.block-picture:hover .block-picture-title,*/
    /*.block-picture.blue:hover .block-picture-title {*/
    /*    margin: 30px;*/
    /*}*/

    .block-picture:hover {
        background: var(--primary);
        border-radius: 6px;
        border: 1px solid var(--primary);
    }

    .block-picture:hover .block-img,
    .block-picture.blue:hover .block-img {
        height: 230px;
        margin: 0 auto;
        width: 100%;
    }

    .block-picture:hover {
        color: #FFFFFF;
    }

    .block-picture:hover .svg {
        display: flex;
        position: absolute;
        margin: 30px;
        fill: var(--primary);
        stroke: var(--primary);
        z-index: 2;
    }

    .block-picture.pink:hover .overlay {

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        background-color: var(--hover-bg);
        border-radius: 6px;

        padding: 40px;
        position: absolute;
        width: 386px;
        height: 386px;
        z-index: 1;

    }

    .block-picture.pink:hover .svg-wishlist {
        display: flex;
        margin: 0 auto;
    }

}

.block-container.pink {
    background: var(--secondary-bg);
}

.block-picture.pink {
    width: 386px;
    height: 386px;
    border: none;
}

.pink-block-img {
    max-width: 386px;
    max-height: 386px;
    margin: 0 auto;
    border-radius: 6px;
}

.card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 36px;
    text-align: center;
}

.card-link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 22.4px;
    color: var(--contrast-text);
    word-wrap: break-word;
    text-align: center;
}

.svg-wishlist,
.overlay,
.link-before,
.card-title-before {
    display: none;
}

@media only screen
and (max-width: 1023px) {

    .block {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .block-container {
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 48px;
        text-align: center;
    }

    .block-title--container {
        margin: 0 auto;
        padding: 66px 0 16px;
    }

    .block-picture {
        width: 335px;
        height: 335px;
        background: var(--secondary-bg);
        border-radius: 6px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-picture.pink {
        margin: 30px;
        width: 100%;
    }


    .block-picture-title {
        line-height: initial;
    }

    .link-before {
        display: block;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        line-height: 22.4px;
        color: var(--primary);
        word-wrap: break-word;
        text-align: center;
        max-width: 335px;
        padding: 20px;
    }

    .img-container{
        width: 275px;
        height: 200px;
        margin: 30px;
    }
    .block-img {
        width: 275px;
        height: 200px;
        margin: 0;
        border-radius: 4px;
    }

    .pink-block-img {
        max-width: 335px;
        max-height: 330px;
        border-radius: 6px;
    }

    .pink-block-picture:hover .svg-wishlist, .pink-block-picture:hover .overlay {
        display: none;
    }

    .card-title-before {
        display: block;

        color: var(--primary);
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        width: 275px;
        margin: 20px;
    }

    .block-container.pink {
        margin: 0 auto;
        background: var(--secondary-bg);
        color: var(--primary);
    }

    .block-title--container * {
        font-size: 30px;
    }
    .block-title:before,
    .block-title--container:before{
        margin-right: 12px;
    }
    .block-title--container:after,
    .block-title:after{
        margin-left: 12px;
    }
    .pink-block-img {
        width: 100%;
    }
}
